<div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <strong>Letter Notic</strong>
            <small>Form</small>
          </div>
    <form>
      <div class="container-fluid">
          <div class="form-group col-md-8">
              <label for="inputName">Letter Type</label>
              <input type="email" class="form-control"  placeholder="Vehical OID">
            </div>
        <div class="form-group col-md-8">
          <label for="inputEmail4">Apporve By</label>
          <input type="email" class="form-control" placeholder="Vehical No" maxlength="8">
        </div>
      <div class="form-group col-md-8">
          <label for="inputAddress">Issuse Purpose</label>
          <input type="text" class="form-control" placeholder="Vehical Type">
        </div>
          <div class="form-group col-md-8">
            <label class="col-form-label" >Date Input</label>
              <input class="form-control"  type="date" name="date-input" placeholder="date">
          </div>
      </div>
      <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    </div>
    </div>