<div class="col-sm-6">
        <div class="card">
          <div class="card-header">
            <strong>Society Event</strong>
            <small>Form</small>
          </div>
            <div class="form-group col-md-8">
                <label for="inputName">Event Name</label>
                <input type="email" class="form-control"  placeholder="Event Name">
              </div>
          <div class="form-group col-md-8">
            <label for="inputEmail4">Event Manejer</label>
            <input type="email" class="form-control" placeholder="Manejer">
          </div>
          <div class="form-group col-md-8">
            <label for="inputPassword4">Event Loaction</label>
            <input type="password" class="form-control" placeholder="Loaction">
          </div>    
              <div class="form-group col-md-8">
                  <label for="inputName">Number Of Dayes</label>
                  <input type="email" class="form-control"  placeholder="Dayes">
                </div>
                <div class="form-group col-md-8">
                        <label class="col-form-label" >Date Input</label>
                          <input class="form-control"  type="date" name="date-input" placeholder="date">
             </div>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
      </div><!--/.col-->